.login{
    background-color: black;
    padding-top: 250px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  color: black;
}

a {
    color: skyblue;
  }

.HappyHunt {
    border-style: solid; 
    padding: 50px;
    left: 5%;
    top: -90px;
    position: relative;
    height: 10em;
    border-color: coral;
}
.TipTop {
    border-style: solid;
    padding: 50px;
    position: relative;
    text-align: center;
    top: -90px;
    height: 10em;
    left: 40%;
    border-color: coral;
}
.Singleplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 10%;
    border-color: coral;

}
.Multiplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 30%;
    border-color: coral;

}
.Onlineplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 50%;
    border-color: coral;

}
.happyhunt_main{
    background-color: white;
}
/*
.singleplayerlogin {
    overflow: hidden; /* Hide scrollbars 
  }
*/
#test
  {
      border:1px solid black;
      height:120px;
      margin:50px auto;
      overflow:hidden;
      width:500px;
  }
#content
  {
      height:100px;
      width:900px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
  }