.login{
    background-color: black;
    padding-top: 250px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  color: black;
}

a {
    color: skyblue;
  }

.HappyHunt {
    border-style: solid; 
    padding: 50px;
    top: 70%;
    left: 10%;
    position: relative;
    height: 10em;
    border-color: coral;
}
.TipTop {
    border-style: solid;
    padding: 50px;
    position: relative;
    text-align: center;
    height: 10em;
    top: 70%;
    left: 40%;
    border-color: coral;
}
.Singleplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 10%;
    border-color: coral;

}
.Multiplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 30%;
    border-color: coral;

}
.Onlineplayer{
    float: right;
    border-style: solid;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 6em;
    top: 50%;
    left: 50%;
    border-color: coral;

}
.happyhunt_main{
    background-color: white;
}
.singleplayerlogin {
    overflow: hidden; /* Hide scrollbars */
  }